$colorPrincipal: #F2E63D;
$colorSecundario:#F2C335;
$colorTerciario: #A68524;
$colorCuarto: #594814;
$colorQuinto: #0D0D0D;
$tamañoMediano: 20px;
$fuenteGrande: roboto;
$tamañoGrande: 26px;
$tamañoChico: 17px;
$tituloGrande: 30px;
$tituloMediano: 24px;
$tituloChico: 22px;
$vista:mobile;