
@import "_variables.scss";

* {
    margin: 0;
    padding: 0;
}
.cuerpo {
    background-color: $colorPrincipal;
}

.contenido {
    max-width: 100%;
    margin: auto;
    padding: 0px 30px;

    
}

.listamenu {
    display: inline-flex;
    list-style: none;
}

.navegacion {
    position: relative;
    z-index: 5;
    width: 100%;
    padding: 10px 0;
    background: $colorQuinto;
  
}
.contenido {
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 2px green;
}


.navegacion .logo a {
    color: goldenrod;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Aguafina Script', cursive;
    font-size: 40px;


}

.listamenu li a {
    color: #fff;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
    font-family: 'Teko', sans-serif;
    &:hover {
        color: goldenrod;
    }
}


.icono {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;

}

.icono.cancelar-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}

.boton-check {
    font-size: 30px;
    color: #fff;
    float: left;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.descripcion-producto {
    height: 150px;
}


@media (max-width:639px) {
    .boton-check {
        display: block;

    }


    .icono {
        display: block;
    }

    .navegacion .listamenu {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        background: $colorQuinto;
        display: flex;
        padding: 40px 0;
        text-align: center;
        li {
            margin-top: 45px;
    
        }
        a {
            font-size: 23px;
    
        }

    }


    #check:checked~ul {
        left: 0;


    }

    .logo {
        margin: 0px 20px;
    }

    .PiePagina .grupo-1 {
        display: flex;
        flex-direction: column;
    }





}



.PiePagina {
    width: 100%;
    background-color: $colorCuarto;
    margin-top: 50px;

}

.PiePagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 45px 0px;
    display: flex;
    align-content: stretch;
    justify-content: space-around;
    align-items: center;
    
}


.PiePagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PiePagina .grupo-1 .box figure .PiePagina__mapa {
    width: 250px;
    height: 250px;
    margin: 10px;
}

.PiePagina .grupo-1 .box .box h2 {
    color: black;
    margin-bottom: 25px;
    font-size: 20px;
}

.PiePagina .grupo-1 .box p {
    color: #292929;
    text-transform: uppercase;
    margin-bottom: 10px;

}

.PiePagina .grupo-2 {
    background-color: #000;
    padding: 15px 10px;
    text-align: center;
    color: #f2f2f2;

}


@media screen and (max-width: 1200px) {
    .PiePagina .grupo-1 {
        width: 80%;

        padding: 35px 0px;
    }

    .navegacion .listamenu {
        display: inline-block;

    }

    .listamenu .li {
        margin-right: 1.5rem;
    }


}
@media screen and (max-width: 800px) and (min-width: 576px){
    .card{
        display: flex;
        margin-bottom: 10px;
        
       
    }
    .card .card-body {

        text-align: center;
        transition: all 2s;
        cursor: pointer;
        
        
    }
    p{font-size: $tamañoMediano;
      
    }
    .box .piePaginap {
        font: bolder;
        font-size: $tamañoMediano;        
        
    }

}


.card {
    align-items: start;
    display: flex;
    margin-top: 20px;

    

}

.card .card-body {
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    color: white;
    text-align: center;
    height: 650px;
    transition: all 2s;
    cursor: pointer;
    font-size: $tamañoGrande;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

.cardgrid{
    height: 380px;
    width: 100%;
}

.card-grid img{

    object-fit: cover;
    width: 100%;
    
    
}

.card-grid .card {
    padding: 0px;
    margin: 0px;

}


.card-body {

    font-size: 18px;
    background-color: black;
    height: 750px;
    width: 100%;
}

.card .card-grid .img-grid:hover {
    transform: scale(1.1, 1.1);



}

.card .card-grid:hover {
    transform: scale(1.1, 1);
    


}

.card-grid h1 {
    font-size: 38px;
    font-style: oblique;
}


/* /////////////////////EMPRESA//////////////////////// */

.carta {
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    background: rgb(0, 0, 0);
    border-radius: 20px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.carta .bloque-img {

    width: 900px;
}

.carta .bloque-img img {
    max-width: 100%;
    transition: all 2s;
    cursor: pointer;
}

.carta .bloque-contenido {
    padding-left: 20px;
}

.carta .bloque-contenido h2 {
    margin: 0;
    padding-left: 0;
    color: #ff4800;
}

.carta .bloque-contenido p {
    margin: 0;
    padding: 10px 0 0;
    text-align: center;
    font-size: 25px;

}

@media (max-width: 480px) {
   
    .card .card-grid {
        width: 100%;
  
        
    }

    .card .card-body {
        height: 300px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: $tamañoChico;
        
    
        
    }
    .h3{
        font-size: $tituloChico;
    }
}

.Contenedor3 {
    position: relative;
    margin-top: 20px;
    background-color: rgb(169, 215, 236);
    width: 100%;
    float: left;
}

.Contenedor3 p {
    margin-top: 30px;
    width: 900px;
    padding: 20px 40px 20px 40px;
    color: rgb(0, 0, 0);
    font-size: 25px;
    line-height: 35px;
    word-spacing: 5px;
    display: inline-block;

}

.Contenedor3 {
    background-color: aqua;
    height: 12.5rem;
}

.Contenedor3 img {
    position: relative;
    width: 200px;
    height: 200px;
    float: right;

}

.cartaproducto {
    animation-name: colordefondo;
    animation-duration: 15s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes colordefondo {
    0% {
        background-color: $colorQuinto;
    }

    25% {
        background-color: $colorTerciario;
    }

    50% {
        background-color: $colorSecundario;
    }

    75% {
        background-color: $colorTerciario;
    }

    100% {
        background-color: $colorQuinto;
    }
}



/* /////////////////////CONTACTO//////////////////////// */

.Contenidotitulo {
    animation-name: aparecer;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    font-size: 30px;
}

@keyframes aparecer {
    0% {
        opacity: 100%;
    }

    25% {
        opacity: 75%;
    }

    50% {
        opacity: 50%;
    }

    75% {
        opacity: 25%;
    }

    100% {
        opacity: 0%;
    }
}



.contenedor-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-image: url(../multimedia/6.jpg);
    width: 640px;
    margin: 50px auto;
    border-radius: 4px;
    padding: 55px 30px;

}

form .titulo h2 {
    letter-spacing: 6px;
    border-bottom: 1px solid white;
    display: inline-block;
    padding-bottom: 8px;
    margin-bottom: 32px;
    color: #fff;
}

form .dosColumnas {
    display: flex;
    justify-content: space-between;
}

form .dosColumnas .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 48%;
    color: #fff;
}

form label {
    display: block;
    font-size: 13px;
    letter-spacing: 3.5px;
    margin-bottom: 16px;
    color: #fff;
}

form .dosColumnas .item input {
    color: #fff;
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;

    width: 100%;
    height: 44px;
    background: transparent;
    font-size: 17px;
}

form .unaColumna {
    margin-bottom: 24px;
}

form .unaColumna textarea {
    color: #fff;
    background: transparent;
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    width: 100%;
    height: 200px;
    font-size: 17px;
}

form .action {
    margin-bottom: 32px;
}

form .action input {
    background: transparent;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    height: 44px;
    letter-spacing: 3px;
    outline: 0;
    padding: 0 20px 0 22px;
    margin-right: 10px;
}

form .action input[type="submit"] {
    background: white;
    color: black;
}

@media (max-width: 480px) {
    form .dosColumnas {
        flex-direction: column;
    }

    form .dosColumnas .item {
        width: 100%;
    }

    form .action {
        display: flex;
        flex-direction: column;
    }

    form .action input {
        margin-bottom: 10px;
        width: 100%;
    }
}

h1 {
    color: #000000;
    font-family: 'Megrim', cursive;
    font-size: 1rem;
    margin: 0;
    text-align: center;
    background-color: $colorTerciario;

}


/* /////////////////////PRODUCTOS//////////////////////// */


.Productos {
    color: #000000;
    font-family: 'Megrim', cursive;
    font-size: 1rem;
    margin: 0;
    text-align: center;
    background-image: url(../multimedia/PRODUCTOS-PARA-NUESTRA-EMPRESA-EN-150-DPI-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15rem 30rem 15rem 30rem;
    text-transform: uppercase;
}

.cartaproducto {
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    background: rgb(0, 0, 0);
    border-radius: 4px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);

}

.bloquephoto {
    width: 100%;


}

.cartaprincipal .producto {
    background-image: linear-gradient(to right, rgba(150, 148, 148, 0.74),#ff4800);
    margin: 10px 30px;
}


.bloquephoto img {
    max-width: 100%;
    position: relative;

}

.bloque_producto {
    padding: 20px;
    margin-bottom: 10px;

}

.bloque_producto h2 {
    margin-top: 8px;
    padding-left: 0;
    color: $colorPrincipal;
    text-align: center;

}

.bloque_producto p {
    margin: 0;
    padding: 10px 0 0;
    text-align: center;
    color: white;
    font-size: 30px;


}

@media (max-width: 649px) and (min-width: 576px){
    .centrar {
        height: 100%;
        width: 100%;
    }
    .card .card-body{
        font-size: $tamañoChico;
    }
}

/* /////////////////////SERVICIOS//////////////////////// */



.boton-instagram {
    padding: 10px;
    background-color: rgb(209, 72, 209);
    color: white;
    margin: 10px;

}

.boton-facebook {
    padding: 10px;
    background-color: rgb(52, 52, 196);
    color: white;
    margin: 10px;

}

.boton-twitter {
    padding: 10px;
    background-color: rgb(61, 186, 190);
    color: white;
    margin: 10px;


}

.sociales {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

}