body {
  background-color: #F2C335; }

.card {
  width: 100%;
  height: 1000px;
  background-color: #33D374;
  border-radius: 5%;
  margin: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 25px;
  margin-top: 40px;
  margin-right: 50px; }

.contenedor-card {
  width: 80%;
  height: 500px;
  background-color: #108EFF;
  border-radius: 5%;
  margin: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 25px;
  margin-top: 40px;
  margin-right: 50px; }

.bloque-img {
  width: 90%;
  height: 300px;
  background-color: #108EFF;
  border-radius: 5%;
  margin: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 25px;
  margin-top: 40px;
  margin-right: 50px; }

.btn_success, .btn_alert, .btn_cancel {
  width: 100px;
  text-align: center;
  padding: 5px 0;
  margin: 2px auto;
  border-radius: 2px;
  color: #FFFFFF; }

.btn_success {
  background-color: #108EFF; }

.btn_alert {
  background-color: #FF8516; }

.btn_cancel {
  background-color: #D61E20; }

* {
  margin: 0;
  padding: 0; }

.contenido {
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px 2px green;
  max-width: 100%;
  margin: auto;
  padding: 0px 30px; }

.subtitulo3 {
  text-align: center;
  height: 150px;
  width: 100%;
  font-size: 25px;
  justify-content: center; }

.navegacion {
  position: relative;
  z-index: 5;
  width: 100%;
  padding: 10px 0;
  background: #0D0D0D; }
  .navegacion logo {
    color: goldenrod;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Aguafina Script', cursive;
    font-size: 40px; }
  .navegacion a {
    color: goldenrod;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Aguafina Script', cursive;
    font-size: 40px; }

.listamenu {
  display: inline-flex;
  list-style: none; }
  .listamenu li a {
    color: #fff;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
    font-family: 'Teko', sans-serif; }
    .listamenu li a:hover {
      color: goldenrod; }

.icono {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none; }

.icono.cancelar-btn {
  position: absolute;
  right: 30px;
  top: 20px; }

.boton-check {
  font-size: 30px;
  color: #fff;
  float: left;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none; }

#check {
  display: none; }

.descripcion-producto {
  height: 150px; }

@media (max-width: 639px) {
  .boton-check {
    display: block; }
  .icono {
    display: block; }
  .navegacion .listamenu {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    background: #0D0D0D;
    display: flex;
    padding: 40px 0;
    text-align: center; }
    .navegacion .listamenu li {
      margin-top: 45px; }
    .navegacion .listamenu a {
      font-size: 23px; }
  #check:checked ~ ul {
    left: 0; }
  .logo {
    margin: 0px 20px; }
  .PiePagina .grupo-1 {
    display: flex;
    flex-direction: column; } }

.PiePagina {
  width: 100%;
  background-color: #594814;
  margin-top: 50px; }

.PiePagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 45px 0px;
  display: flex;
  align-content: stretch;
  justify-content: space-around;
  align-items: center; }

.PiePagina .figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.PiePagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.PiePagina .grupo-1 .box figure .PiePagina__mapa {
  width: 250px;
  height: 250px;
  margin: 10px; }

.PiePagina .grupo-1 .box .box h2 {
  color: black;
  margin-bottom: 25px;
  font-size: 20px; }

.PiePagina .grupo-1 .box p {
  color: #292929;
  text-transform: uppercase;
  margin-bottom: 10px; }

.PiePagina .grupo-2 {
  background-color: #000;
  padding: 15px 10px;
  text-align: center;
  color: #f2f2f2; }

@media screen and (max-width: 1200px) {
  .PiePagina .grupo-1 {
    width: 80%;
    padding: 35px 0px; }
  .navegacion .listamenu {
    display: inline-block; }
  .listamenu .li {
    margin-right: 1.5rem; } }

@media screen and (max-width: 800px) and (min-width: 576px) {
  .card {
    display: flex;
    margin-bottom: 10px; }
  .card .card-body {
    text-align: center;
    transition: all 2s;
    cursor: pointer; }
  p {
    font-size: 20px; }
  .box .piePaginap {
    font: bolder;
    font-size: 20px; } }

/* /////////////////////EMPRESA//////////////////////// */
.carta {
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
  background: black;
  border-radius: 20px;
  color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.carta .bloque-img {
  width: 900px; }

.carta .bloque-img img {
  max-width: 100%;
  transition: all 2s;
  cursor: pointer; }

.carta .bloque-contenido {
  padding-left: 20px; }

.carta .bloque-contenido h2 {
  margin: 0;
  padding-left: 0;
  color: #ff4800; }

.carta .bloque-contenido p {
  margin: 0;
  padding: 10px 0 0;
  text-align: center;
  font-size: 25px; }

.Contenedor3 {
  position: relative;
  margin-top: 20px;
  background-color: #a9d7ec;
  width: 100%;
  float: left; }

.Contenedor3 p {
  margin-top: 30px;
  width: 900px;
  padding: 20px 40px 20px 40px;
  color: black;
  font-size: 25px;
  line-height: 35px;
  word-spacing: 5px;
  display: inline-block; }

.Contenedor3 {
  background-color: aqua;
  height: 12.5rem; }

.Contenedor3 img {
  position: relative;
  width: 200px;
  height: 200px;
  float: right; }

.cartaproducto {
  animation-name: colordefondo;
  animation-duration: 15s;
  animation-delay: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

@keyframes colordefondo {
  0% {
    background-color: #0D0D0D; }
  25% {
    background-color: #A68524; }
  50% {
    background-color: #F2C335; }
  75% {
    background-color: #A68524; }
  100% {
    background-color: #0D0D0D; } }

/* /////////////////////CONTACTO//////////////////////// */
.Contenidotitulo {
  animation-name: aparecer;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  font-size: 30px; }

@keyframes aparecer {
  0% {
    opacity: 100%; }
  25% {
    opacity: 75%; }
  50% {
    opacity: 50%; }
  75% {
    opacity: 25%; }
  100% {
    opacity: 0%; } }

.contenedor-formulario {
  display: flex;
  justify-content: center;
  align-items: center; }

form {
  background-image: url(../multimedia/6.jpg);
  width: 640px;
  margin: 50px auto;
  border-radius: 4px;
  padding: 55px 30px; }

form .titulo h2 {
  letter-spacing: 6px;
  border-bottom: 1px solid white;
  display: inline-block;
  padding-bottom: 8px;
  margin-bottom: 32px;
  color: #fff; }

form .dosColumnas {
  display: flex;
  justify-content: space-between; }

form .dosColumnas .item {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  width: 48%;
  color: #fff; }

form label {
  display: block;
  font-size: 13px;
  letter-spacing: 3.5px;
  margin-bottom: 16px;
  color: #fff; }

form .dosColumnas .item input {
  color: #fff;
  border-radius: 4px;
  border: 1px solid white;
  outline: 0;
  width: 100%;
  height: 44px;
  background: transparent;
  font-size: 17px; }

form .unaColumna {
  margin-bottom: 24px; }

form .unaColumna textarea {
  color: #fff;
  background: transparent;
  border-radius: 4px;
  border: 1px solid white;
  outline: 0;
  width: 100%;
  height: 200px;
  font-size: 17px; }

form .action {
  margin-bottom: 32px; }

form .action input {
  background: transparent;
  border-radius: 4px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  height: 44px;
  letter-spacing: 3px;
  outline: 0;
  padding: 0 20px 0 22px;
  margin-right: 10px; }

form .action input[type="submit"] {
  background: white;
  color: black; }

@media (max-width: 480px) {
  form .dosColumnas {
    flex-direction: column; }
  form .dosColumnas .item {
    width: 100%; }
  form .action {
    display: flex;
    flex-direction: column; }
  form .action input {
    margin-bottom: 10px;
    width: 100%; } }

h1 {
  color: #000000;
  font-family: 'Megrim', cursive;
  font-size: 1rem;
  margin: 0;
  text-align: center;
  background-color: #A68524; }

/* /////////////////////PRODUCTOS//////////////////////// */
.Productos {
  color: #000000;
  font-family: 'Megrim', cursive;
  font-size: 1rem;
  margin: 0;
  text-align: center;
  background-image: url(../multimedia/PRODUCTOS-PARA-NUESTRA-EMPRESA-EN-150-DPI-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15rem 30rem 15rem 30rem;
  text-transform: uppercase; }

.cartaproducto {
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
  background: black;
  border-radius: 4px;
  color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }

.bloquephoto {
  width: 100%; }

.cartaprincipal .producto {
  background-image: linear-gradient(to right, rgba(147, 128, 94, 0.74), #956d5e);
  margin: 10px 30px; }

.bloquephoto img {
  max-width: 100%;
  position: relative; }

.bloque_producto {
  padding: 20px;
  margin-bottom: 10px; }

.bloque_producto h2 {
  margin-top: 8px;
  padding-left: 0;
  color: black;
  text-align: center; }

.bloque_producto p {
  margin: 0;
  padding: 10px 0 0;
  text-align: center;
  color: white;
  font-size: 30px; }

@media (max-width: 649px) and (min-width: 576px) {
  .centrar {
    height: 100%;
    width: 100%; } }

/* /////////////////////SERVICIOS//////////////////////// */
.boton-instagram {
  padding: 10px;
  background-color: #d148d1;
  color: white;
  margin: 10px; }

.boton-facebook {
  padding: 10px;
  background-color: #3434c4;
  color: white;
  margin: 10px; }

.boton-twitter {
  padding: 10px;
  background-color: #3dbabe;
  color: white;
  margin: 10px; }

.sociales {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; }

.container .card {
  max-width: 300px;
  height: 215px;
  margin: 30px 10px;
  padding: 20px 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out; }

.container .card:hover {
  height: 450px; }

.container .card .imgContainer {
  position: relative;
  width: 250px;
  height: 250px;
  top: -50px;
  left: 10px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); }

.container .card .imgContainer img {
  max-width: 100%;
  border-radius: 4px; }

.container .card .content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease-in-out; }

.container .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s; }

@media (max-width: 330px) {
  .container .card .imgContainer {
    left: -2px; } }
